.container
  font: normal 13px/1.5 Arial, Helvetica, sans-serif
  margin: 10px 0
  padding: 10px
  border: 2px solid #369

  &__title
    font-size: 15px
    margin: 0 0 10px
    padding: 0

  &.drag-enter
    border-style: dashed;
